/* Make html take up 100% of the page */
body,html {
  height: 100%;
  width: 100%;
  background-image: url(assets/8-ball-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h2, label, .instructions {
  color: #ffffff;
}

/* The 8-ball */
.ballwrapper{
  top: 200px;
  height: 300px;
  width: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* The black and white ball */
#ball {
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  box-shadow: inset 0 0 0 80px #6c540b; 
  text-align: center;
  position: relative;
  z-index: 2;
}

/* The 8-ball background */
.ballbackground {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  transform: translate(0, -150%);
  position: relative;
  z-index: 1;
}

/* Text for result */
.answer {
  color: #000000;
  font-family: 'Courier New', monospace;
  top: 50%;
  margin: 0;
  position: relative;
  z-index: 2;
  font-size: 10px;
}

/* Graphic area for the ball */
.graphic {
  width: 25%;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}

.instructions {
  margin-left: 50%;
  margin-right: 50%;
  width: 100%;
}