/* Make html take up 100% of the page */
body,html {
  height: 100%;
  width: 100%;
}

/* The 8-ball */
.ballwrapper{
    top: 250px;
    left: 25%;
    height: 500px;
    width: 500px;
    position: relative;
}

#ball {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  box-shadow: inset 0 0 0 125px #000000; 
  text-align: center;
  position: relative;
  z-index: 1;
}

/* The 8-ball background */
.ballbackground {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  transform: translate(0, -150%);
  position: relative;
  z-index: -1;
}

/* Text for result */
.answer {
  color: #000000;
  font-family: 'Courier New', monospace;
  top: 50%;
  margin: 0;
  position: relative;
  z-index: 1;
}

/* Graphic area for the ball */
.graphic {
  width: 25%;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
}
