@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Source+Sans+Pro:wght@200;400&family=Yatra+One&display=swap');
/* main body*/
body {
  background-image: url(assets/8-ball-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

/* title of page*/
h1 {
  text-align: center;
  font-size: 4em;
  color: white;
  font-family: 'Yatra One', cursive;
  margin-top: 3%;
}

/* title of page cont.*/
.title {
  background-color: red;
  background-image: linear-gradient(45deg,#cb2453,#f3ec78);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

}

h2, label, .instructions {
  color: #ffffff;
  text-align: center;
  font-family: 'Yatra One', cursive;
  font-size: 1.5em;
}

/* The 8-ball */
.ballwrapper{
  height: 300px;
  width: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
}

/* The black and white ball */
#ball {
  height: 100%;
  width: 100%;
  background-color: #6c540b;
  border-radius: 50%;
  display: inline-block;
  box-shadow: inset 0 0 0 15px #000000, inset 0 0 0 18px #6c540b, inset 0 0 0 33px #000000, 
              inset 0 0 0 36px #6c540b, inset 0 0 0 51px #000000, inset 0 0 0 54px #6c540b, inset 0 0 0 69px #000000; 
  text-align: center;
  position: relative;
  z-index: 2;
}

/* The 8-ball background */
.ballbackground {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  transform: translate(0, -150%);
  position: relative;
  z-index: 1;
}


/*To center the question and input answer text in the middle of the page*/
.input-text-div {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*styling input box*/
#question_tb {
  color:white;
  width: 15%;
	padding: 12px 8px;
	margin: 8px 7px;
	border-radius: 7%;
	font-size: 20px;
  font-family: 'Yatra One', cursive;
	background-color: rgb(213, 158, 56);
}

/* Imports a new font to use in .answer */
@font-face {
  font-family: 'mysticalFont';
  src: url("assets/AlmendraSC-Regular.ttf");
  font-weight: normal;
}

/* Styling for the output/answer text box */
.answer {
  color: #FFA500; /* sets text color to orange */
  font-family: 'mysticalFont', cursive; 
  font-weight: bold; 
  font-size: 12px; 
  line-height: 1.5; 
  text-align: center; 
  background-color: #1C1C1E; 
  padding: 20px; 
  border-radius: 50%; /* makes the border circular */
  width: 25%;
  height: 25%; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  text-shadow: 0px 0px 10px 0px #FFA500; 
  box-shadow: 0px 0px 10px 0px #FFA500; 
  margin: 0;
  position: relative;
  z-index: 2;
  top: 30%; 
  left: 30%
}

/* Graphic area for the ball */
.graphic {
  width: 25%;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}

.instructions {
  width: 100%;
  margin-bottom: 10%;
}

.instructions p {
  text-align: center;
}



/* Animation to move a cloud to the right */
@keyframes move-clouds1 {
	/* Start the clouds off screen on the left edge of the screen */
	from { 
		left: 0;
		transform: translateX(-100%);
	 }
	/* Move the clouds off screen on the right edge of the screen */
	to { 
		left: 100%;
		transform: translateX(0%); 
	}
}
/* Animation to move a cloud to the left */
@keyframes move-clouds2 {
	/* Start the clouds off screen on the the right edge of the screen */
	from { 
		left: 100%;
		transform: translateX(0%);
	}
	/* Move the clouds off screen on the left edge of the screen */
	to {
		left: 0;
		transform: translateX(-100%);
	}
}
/* A class for clouds moving across the screen */
.cloud {
  /* Places the clouds behind everything so it doesn't interfere
     with the input text box or shaking the 8-ball" */ 
  z-index:-50;
	/* Position the clouds absolutely so they can be placed anywhere on the page */
	position: absolute;
	/* Maximum height of clouds is 400 pixels */
	max-height: 400px;
	/* Make clouds translucent to look like real clouds */
	opacity: 0.4;
}
