/* Make entire page's background black with image */
html {
  background: url(assets/card-page/backdrop.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

#returnMenu {
  position: absolute;
  top: 60px;
  left: 40px;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  top: 300px;
  gap: 10px;
}

.card-container > img:hover {
  box-shadow: 0 0 10px 5px #00ff00 
}

.buttons {
  position: relative;
  top: 400px;
  display: grid;
  grid-auto-columns: 200px 200px;
  justify-content: center;
  gap: 40px;
}

button {
  background: url(assets/saved-readings-page/wood-placard.png);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 60px;
  width: 200px;
  color: white;
  font-size: 20px;
  border: none;
  text-shadow: 2px 2px 3px #ad08c7;
}

button:hover {
  box-shadow: 0 0 15px 10px #ad08c7;
}

#output {
  position: relative;
  background: #aaaaaa;
  padding: 0px 20px;
  border: black;
  border-radius: 25px;
  font-family: 'tangerine';
  font-size: 40px;
  line-height: 1.5;
  text-shadow: 2px 2px 3px #ad08c7;
  grid-column: 1 / span 2;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.headerElement {
  text-align: center;
}

/* Styles the Saved Readings button in header */
#savedReadingsPage {
  justify-self: end;
}

/* Styles the back button in header */
#returnMenu {
  justify-self: start;
}
