/* Reset default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
  }

/* Makes entire page's background black*/
html {
    background-color: black;
}
  
/* Styles the body */
body {
color: white; 
font-family: 'Arial', sans-serif;
text-align: center;
}

/* Styles the header */
header {
/*background-color: #1B4721;*/
padding: 20px;
text-align: center;
}

/* Styles the heading/title text*/
h1 {
font-size: 40px;
font-weight: bold;
color: white;
/*color: #FFFFFF;*/
margin-bottom: 10px;
}

/* Styles the frame around the introduction text*/
.storyFrame {
/* background-color: #1B4721; */
border: 2px solid red; 
margin: 0 auto; 
padding: 0;
border: 0;
width: 400px; /* Adjust the width of the container as needed */
height: 300px; /* Adjust the height of the container as needed */
display: flex;
justify-content: center;
align-items: center;
/*background-color: #1B4721; *//* Adjust the background color as desired */
}

/* Styles the text inside the frame */
.storyFrame p {
text-align: center;
font-size: 18px;
line-height: 1.5;
margin-top: 10px; 
margin-bottom: 10px;
padding: 20px;
background-color: #1B4721;
}

/*Styles the question*/ 
#question {
font-size: 20pt; 
margin-bottom: 10px;
background-color: black ;
}

/* Styles the enter button*/
button {
display: block;
margin: 0 auto;
padding: 10px 20px;
background-color: #8B4513;
font-size: 30pt;
color: #FFFFFF;
text-decoration: none;
border: none;
border-radius: 10px;
cursor: pointer;
transition: background-color 0.3s ease;
}

/*Animates the enter button*/
button:hover {
background-color: rgb(8, 50, 65);
}