/* || Header Section */
header {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

header>button {
    position: absolute;
}

#back {
    left: 0;
}

#history {
    right: 0;
}

/* || Category Buttons */
.categoryButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category {
    width: 100px;
    margin-top: 10px;
}

/* || Instructions */
#instructions {
    text-align: center;
    width: 50%;
    margin: auto;
}