/* || HTML Section */
/* Styles the whole html page */
html {
  background: url(assets/menu-page/backdrop.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}


/* Styles all buttons */
button {
  background: url(assets/menu-page/wood-placard.png);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 60px;
  width: 200px;
  color: white;
  font-size: 20px;
  border: none;
  text-shadow: 2px 2px 3px #ad08c7;
}


button:hover {
  box-shadow: 0 0  10px 5px #ad08c7;
}


/* || Header Section */
/* Styles the header */
.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.headerElement {
  text-align: center;
}

/* Styles the back button in header */
#back {
  justify-self: start;
}

/* Styles the Saved Readings button in header */
#savedReadings {
  justify-self: end;
}

/* Styles the title */
#title {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #000000;
  font-family: "Arial";
}


/* || Category Buttons */

/* Styles the container for Category Buttons */
#categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


/* || Instructions */

/* Styles the instructions text */
#instructions {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  color: white;
  text-shadow: 0 0 5px #000000;
}
