html {
  background: url(assets/menu-page/backdrop.png) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: black;
}

#categories {
  display: flex;
  position: absolute;
  left: 45%;
  top: 20%;
  gap: 5%;
}
