/* || HTML Section */
/* Styles the whole html page */
html {
  background: url(assets/menu-page/backdrop.png) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: black;
}

/* || Header Section */
/* Styles the header */
.header {
    display: flex;
    justify-content: center; 
    position: relative; /* set position as relative so when positioning #back, #savedReadings it is relative to header */
    align-items: center;
    width: 880px;
    height: 50px;
    margin: 0 auto;
}

/* Styles all buttons in header */
.header>button {
    position: absolute; /* set position as absolute to control the location of where the buttons are */
}

/* Styles the back button in header */
#back {
    left: 10px; /* Moves button to left most position relative to its container header */
}

/* Styles the Saved Readings button in header */
#savedReadings {
    right: 10px; /* Moves button to right most position relative to its container header */
}

/* Styles the title */
#title {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #000000;
  font-family: 'Arial';
}

/* || Category Buttons */
#categories {
  display: flex;
  position: absolute;
  left: 45%;
  top: 30%;
  gap: 5%;
}

/* || Instructions */

/* Styles the instructions text */
#instructions {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    color: white;
    text-shadow: 0 0 5px #000000;
}
