.historyWrapper {
  display: flex;
  flex-direction: column;
}

.fortune {
  opacity: 80%;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
  padding: 20px;
  border: 1px solid black;
  border-color: #000000;
  width: 70%;
}

.fortune:hover {
  background-color: green;
}

#title {
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Arial';
}

.backButton {
  position: relative;
  background: url(assets/saved-readings-page/wood-placard.png);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 60px;
  width: 200px;
  border: none;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 3px #ad08c7;
  left: 20px;
  top: 60px;
}

button:hover {
  box-shadow: 0 0 15px 10px #ad08c7;
}

body {
  background: url(assets/saved-readings-page/saved-readings-page-background.jpeg) no-repeat center center fixed; 
  background-color: lightgray;
}

h1, .fortuneText, .fortuneCategory, .fortuneDate {
  text-align: center;
  font-family: 'Tangerine';
  font-size: 40px;
}

.addClear {
  position: relative;
  display: flex;
  left: 20px;
  justify-content: center;
  gap: 40px;
}

.tempAddButton {
  background: url(assets/saved-readings-page/wood-placard.png);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 60px;
  width: 200px;
  border: none;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 3px #ad08c7;
}

.tempClearButton {
  background: url(assets/saved-readings-page/wood-placard.png);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 60px;
  width: 200px;
  border: none;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 3px #ad08c7;
}
