name: Generate JSDocs

on: [push]

jobs:
    generate_docs:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v2
        - name: Build
          uses: andstor/jsdoc-action@v1
          with:
            source_dir: ../../source/prototyping
            recurse: true
            output_dir: ../../fortune-telling